:root {
  font-family: 'Manrope', system-ui, sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 16px;
  color-scheme: light dark;
  color: #191919;
  background-color: #1b1b1b;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-yeahub: #1ac737;
  /* --main-yeahub: #0077b6; */
  --background-color-secondary: #282828;
  --background-color-main: #1b1b1b;
  --progress-bar-secondary: #E1CEFF;
  --text-filter: #303030;
  --text-main: #01de26;
  --text-card: #d7d7d7;
  --text-color-in-main: #1b1b1b;
  --background-card: #FFFFFF;
  --button-rating-color: #F8F8F8;
  user-select: none;
  --ca: #00ffd0;

}

html {
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  margin: 0;
  font-weight: 500;
}

button {
  padding: 10px 12px;
  max-height: 34px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #BABABA;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #303030;
  outline: none;
  font-size: 16px;
} 



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
