.rightColumn {
    width: 390px;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    gap: 24px;
    background-color: var(--background-color-secondary);
    border-radius: 24px;
    padding: 24px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 10px 0;
}