.paginationContainer {
    display: flex;
    gap: 15px;
    text-align: center;

}

.paginationContainer button {
    border: none;
    background-color: rgba(0,0,0,0);
    padding: 0;
}

.arrayContainer {
    display: flex;
    gap: 6px;
}