.wrapper {
    min-height: 64px;
    border-bottom: solid #D1D1D1 1px;
    background-color: var(--background-color-secondary);
    color: var(--text-card);
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    padding-inline: 20px;
}

.titleRow {
    display: flex;
    gap: 8px;
    align-items: center;
}

.content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 640px;
    padding-left: 20px;
}

.contentOpen {
    max-height: 1000px; 
    opacity: 1;
    width: 640px;
}

.metaRow {
    display: flex;
        flex-wrap: wrap;
    gap: 40px;
    padding: 0;
    transition: padding 0.4s ease;
}

.metaRowOpen {
    padding: 16px 0;
}

.showMoreLink {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    margin-bottom: 10px;
}
