.listWrapper {
    margin-top: 140px;
    width: 700px;
    padding: 20px;
    border-radius: 24px;
    background-color: var(--background-color-secondary);
}

.listWrapper h2 {
    color: var(--main-yeahub)
}