.listWrapper {
    margin-top: 140px;
    width: 700px;
    padding: 20px;
    border-radius: 24px;
    background-color: var(--background-color-secondary);
    max-height: fit-content;
}

.listWrapper h2 {
    margin: 10px 10px;
}