.progressBarContainer {
    margin-inline: auto;
    color: var(--text-card)
}

.progressBar {
    width: 1000px;
    border-radius: 24px;
    padding: 24px 30px;
    background-color: var(--background-color-secondary);
    display: flex;
    flex-direction: column;
    align-self: start;
    flex-wrap: wrap;
    gap: 20px
}

.progressBarNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    width: 1000px;
    height: 3px;
    background-color: var(--main-yeahub-secondary);
}

.progressLine {
    height: 3px;
    background-color: var(--main-yeahub);
}