.quizContainer {
    gap: 20px;
    margin-inline: auto;
}

.quiz {
    width: 1000px;
    border-radius: 24px;
    padding: 24px 30px;
    box-shadow: 0px 4px 10px 0px #6A63761A;
    background-color: var(--background-color-secondary);
    display: flex;
    flex-direction: column;
    align-self: start;
    flex-wrap: wrap;
    margin-top: 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}