.complexityContainer {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.filterItem {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 20;
}

.filterItem h3 {
    color: var(--text-card);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-yeahub);
}