.quizNavContainer {  
    margin-top: 30px;  
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}

.quizNavContainer span {
    font-size: 18px;
    color: var(--main-yeahub)
}

.content {
    padding: 0 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
}