.nextButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 20px 40px;

  border-radius: 12px;
  border: 1px solid var(--main-yeahub-secondary);
  background: transparent;
  cursor: pointer;

  color: var(--main-yeahub-secondary);
  font-size: 16px;
}

.nextButtonActive {
  border-color: var(--main-yeahub);
  color: var(--main-yeahub);
}