.filterItem {
    display: flex;
    flex-direction: column;
    gap: 20;
}

.countButton {
    padding: 10px 12px;
    max-height: 34px;
    background-color: var(--background-color-secondary);
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-card);
    outline: none;
    font-size: 16px;
    max-width: fit-content;
    user-select: none;
} 

.filterItem h3 {
    color: var(--text-card);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-yeahub);
}