.container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    width: 1000px;
    border-radius: 24px;
    padding: 24px 30px;
    background-color: var(--background-color-secondary);
    
}

.buttonContainer {
    display: flex;
    justify-content: end;
}