.input {
    padding: 12px;
    border: 1px solid var(--background-color-secondary);
    outline: none;
    border-radius: 12px;
    background-color: var(--background-color-main);
}

.input:focus {
    border-color: var(--main-yeahub);
}