
.card {
  width: 700px;
  height: 65px;
  background: hsl(0, 0%, 100%);
  background-color: var(--background-color-secondary);
  overflow: hidden;
  position: relative;
}

.shimmer {
  position: absolute;
  top: 0;
  left: -200px;
  height: 50%;
  width: 200px;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(45, 45, 45, 0.6) 30%, rgba(26, 199, 55, 0.4) 90%);
  animation: shimmerMove 2s infinite;
}

@keyframes shimmerMove {
  0% { transform: translateX(0); transition: 300ms ease-in; }
  100% { transform: translateX(880px); }
}
